body {
    background-color: black;
    color: white;
    font-family: var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #1e1e1e;
    }

    ::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}

.container {
    height: 100%;
}

.hamburger {
    display: none;
}

.navbar {
    display: flex;
    width: 100%;
    margin: 0.1rem;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    position: sticky;
    border-radius: 0.61rem;
    top: 3px;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.navLeft {
    display: flex;
}

.navbar .logo {
    align-content: center;
    margin: 0.5rem 1.25rem 0rem 0.50rem;
    cursor: pointer;
}

.homeLogo {
    align-content: center;
}

.homeLogo img {
    cursor: pointer;
    background-color: #313030;
    border-radius: 4rem;
    padding: 0.43rem;
}

.searchBar {
    display: flex;
    margin-left: 10px;
    padding: 0.7rem;
    border: 0.10rem;
    border-radius: 4rem;
    background-color: #313030;
}

.sLogo:hover {
    cursor: pointer;
}

.searchBar input {
    background-color: transparent;
    width: 20rem;
    margin-left: 0.75rem;
    border: none;
    font-size: medium;
}

.searchBar input::placeholder {
    color: grey;
}

.searchBar .browse img {
    cursor: pointer;
    margin-right: 0.8rem;
}

.navRight {
    display: flex;
}

.navRight .psd {
    display: flex;
    align-content: center;
    list-style: none;
    gap: 1rem;
}

.navRight .psd li {
    color: whitesmoke;
}

.psd li:hover {
    cursor: pointer;
    font-weight: 700;
    color: white;
    transform: scale(1.02);
}

.navRight img {
    width: 2rem;
}

.navRight .install {
    align-content: center;
}

.iText {
    align-content: center;
}

.iText:hover {
    cursor: pointer;
    font-weight: 700;
    color: white;
    transform: scale(1.02);
}

.navRight .signUp {
    align-content: center;
    font-size: medium;
    font-weight: 600;
    margin: 0px 10px 0px 20px;
}

.signUp:hover {
    cursor: pointer;
    font-weight: 700;
    color: white;
    transform: scale(1.02);
}

.navRight .logIn {
    align-content: center;
    margin: 6px 35px 0px 17px;
    padding: 0rem 1.5rem;
    color: black;
    border-radius: 10rem;
    background-color: white;
    font-weight: 700;
}

.logIn:hover {
    cursor: pointer;
    font-weight: 750;
    color: black;
    transform: scale(1.02);
}

/* Left and Right Code */

.content {
    display: flex;
    height: 40rem;
    gap: 0.5rem;
}

.left {
    background-color: #242323;
    width: 25%;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
}

.right {
    background-color: #242323;
    width: 75%;
    border-radius: 1rem;
}

/* Left Side */

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.plus {
    font-size: x-large;
    margin-right: 1rem;
}

.yLibrary {
    font-size: large;
    font-weight: bold;
}

.favorite {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1rem;
}

.songList {
    height: 65%;
    overflow-y: auto;
    margin-top: 2rem;
}

.songList ul {
    padding: 0px 3px;
}

.songList ul li {
    /* border: 1px solid white; */
    border-radius: 0.7rem;
    display: flex;
    list-style: none;
    padding: 10px 5px;
    margin: 14px 0px;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(#0f5066, #191414);
    box-shadow: 0 0px 2px rgba(210, 10, 249, 0.3);
    color: white;
    border-top: 1px solid #282828;
}

.separator {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.songList .info {
    width: 8rem;
}

.songList .play img {
    background: #19a3bb;
    border-radius: 50%;
}

.songList ul {
    font-size: 10px;
}

.bottom {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.bottom a {
    color: gray;
}

/* Right Side */

.cardContainer {
    display: flex;
    scrollbar-width: none;
    overflow-y: scroll;
    max-height: 90%;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.1rem;
}

.card {
    width: 21rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    height: 16rem;
}

.card h3 {
    margin-top: 0.3rem;
}

.card p {
    margin-top: -1rem;
}

.card img {
    object-fit: contain;
    height: 12rem;
    border-radius: 0.61rem;
}

.card:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.cardContainer:hover {
    scrollbar-width: auto;
}

.playBar {
    position: fixed;
    bottom: 1px;
    width: 71%;
    border-radius: 0.9rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #121212;
    background: linear-gradient(90deg, #4d1065, #152846);
    box-shadow: 0 -5px 25px rgba(210, 10, 249, 0.3);
    color: white;
    border-top: 1px solid #282828;
}

.playBar .seekbar {
    width: 100%;
    position: relative;
    cursor: pointer;
    bottom: -2px;
    background: #535353;
    height: 3px;
    border-radius: 1.5px;
}

.seekbar .circle {
    width: 14px;
    height: 14px;
    position: absolute;
    pointer-events: none;
    bottom: -5px;
    left: 0%;
    transition: left 0.5s;
    background: #00bbf9;
    border-radius: 50%;
    box-shadow: 0 0 6px #1DB954;
}

#play {
    background: #19a3bb;
    border-radius: 50%;
}

#previous {
    background: #19a3bb;
    border-radius: 50%;
}

#forward {
    background: #19a3bb;
    border-radius: 50%;
}

#play:hover {
    background: #00bbf9;
    transform: scale(1.05);
}

#previous:hover {
    background: #00bbf9;
    transform: scale(1.05);
}

#forward:hover {
    background: #00bbf9;
    transform: scale(1.05);
}

.songInfo {
    color: #b3b3b3;
}

.playBar .control {
    display: flex;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.songInfo {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    width: 15rem;
}

.songInfo img {
    box-shadow: 0 0 8px #7f9095;
}

.control .imgs {
    margin-right: 4rem;
}

.playBar img:hover {
    cursor: pointer;
}

.timevol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volume {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.volume input {
    cursor: pointer;
    width: 6rem;
}

.volume img {
    width: 1.4rem;
    height: 1.5rem;
}

@media screen and (max-width:1200px) {
    .navbar {
        position: sticky;
        border-radius: 0.61rem;
        width: 98%;
        top: 10px;
        z-index: 1000;
    }

    .hamburger {
        display: flex;
        position: sticky;
        margin: 0.4rem 0rem 0rem .3rem;
        transition: transform 0.8s ease-out;
        transform: translateX(0);
        cursor: pointer;
    }

    .navLeft {
        display: none;
    }

    .navRight {
        justify-content: end;
        width: 100%;
        height: 3rem;
    }

    .navRight .psd {
        display: none;
    }

    .navRight img {
        display: none;
    }

    .iText {
        font-size: 15px;
    }

    .navRight .signUp {
        font-size: 15px;
    }

    .navRight .logIn {
        font-size: 13px;
        align-content: center;
        margin: 0px 10px 0px 17px;
        padding: 0rem 1.5rem;
        color: black;
        border-radius: 10rem;
        background-color: white;
        font-weight: 700;
    }

    .left {
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 0.8s;
        height: 100vh;
        z-index: 1;
        width: 16.5rem;
        filter: blur(0) !important;
    }

    .songList ul {
        font-size: 8px;
    }

    .songList ul li {
        width: 15rem;
    }

    .songList li img {
        width: 2rem;
        height: 2rem;
    }

    .songList .play img {
        width: 1.8rem;
        height: 1.8rem;
    }

    .songList .info {
        width: 6rem;
    }

    .bottom span {
        font-size: x-small;
    }

    .right {
        width: 100%;
    }

    .playBar {
        width: 97%;
    }


    .playBar .songInfo {
        font-size: 12px;
        width: 11.5rem;
    }

    .playBar .songInfo img {
        width: 2rem;
        height: 2rem;
    }

    .playBar .imgs img {
        width: 1.8rem;
        height: 1.8rem;
    }
}


@media screen and (max-width:650px) {
    .navbar {
        height: 2.6rem;
        position: sticky;
        z-index: 1000;
    }

    .iText {
        font-size: 12px;
    }

    .navRight .signUp {
        font-size: 12px;
    }

    .navRight .logIn {
        font-size: 12px;
        align-content: center;
        margin: 0px 6px 0px 12px;
        padding: 0rem 1.1rem;
        color: black;
        border-radius: 10rem;
        background-color: white;
        font-weight: 700;
    }

    .hamburger {
        height: 1.9rem;
    }

    .playBar {
        position: fixed;
        bottom: 30px;
        width: 93%;
        border-radius: 0.9rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .playBar .control {
        display: flex;
        width: 96%;
        justify-content: space-between;
        align-items: center;
        padding: 0rem;
    }

    .control .imgs {
        margin-right: 0rem;
    }

    .songInfo {
        width: 8rem;
    }

    .playBar .songTime {
        font-size: 15px;
    }

    .volume input {
        width: 3rem;
        height: 0.5rem;
    }
}

@media screen and (max-width:470px) {
    .cardContainer {
        justify-content: center;
    }

    .card img {
        object-fit: fill;
        width: 20rem;
        height: 13rem;
    }
}

@media screen and (max-width:415px) {
    .navbar {
        align-items: center;
    }

    .navRight .logIn {
        font-size: 12px;
        align-content: center;
        margin: 4px 6px 5px 12px;
        color: black;
        border-radius: 10rem;
        background-color: white;
        font-weight: 700;
    }

    .cardContainer {
        justify-content: center;
    }

    .card img {
        object-fit: fill;
        width: 20rem;
        height: 13rem;
    }

    .playBar .control {
        flex-direction: column;
    }

    .playBar .timevol {
        flex-direction: row;
        gap: 0.8rem;
    }

    .control .imgs {
        margin-right: 0rem;
        display: flex;
        gap: 1rem;
    }
}